# secrets
.env
**/.env

# python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# macOS archive cruft
__MACOSX/
.DS_Store

*.egg-info/
build/
dist/
data/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
